{% extends 'base.html' %}
{% block content %}
  <!-- Modal potwierdzenia usunięcia wydarzenia -->
  <div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEventModalLabel">Potwierdź usunięcie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info mt-3">
            <b>{{ event.get_category_display }}{% if event.category == 'inne' %} ({{ event.custom_category }}){% endif %}</b><br>
            {{ event.description }}<br>
            Data: {{ event.date }}
          </div>
          <p>Czy na pewno chcesz usunąć to wydarzenie?</p>
        </div>
        <div class="modal-footer">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Usuń</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Anuluj</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
  // Automatycznie otwórz modal po wejściu na stronę
  var deleteModal = new bootstrap.Modal(document.getElementById('deleteEventModal'));
  deleteModal.show();
  </script>
{% endblock %} 